<!-- Indicador de carga -->
<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg" style="width: 400px; border-radius: 15px;">
    <div class="card-header text-center" style="background-color: #cfdae2; border-top-left-radius: 15px; border-top-right-radius: 15px;">
      <img src="/assets/img/GMC_SMALL.png" alt="Logo" class="img-fluid" style="max-height: 80px;">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center mb-4" style="color: #11577c;">Iniciar Sesión</h5>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="clave" class="form-label" style="color: #10446b;">Clave de Empleado</label>
          <input type="text" formControlName="employeeNumber" class="form-control" id="clave" placeholder="00000000" required>
        </div>
        <div class="form-group mb-4">
          <label for="password" class="form-label" style="color: #10446b;">Contraseña</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="password" placeholder="Contraseña" required>
            <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
              <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
            </button>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary" style="background-color: #afda6e; border-color: #afda6e; color: #10446b;">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
    <div class="card-footer text-center" style="background-color: #cfdae2; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
      <small style="color: #11577c;">&copy; 2025. Desarrollado por el departamento de TI de Grupo MC.</small>
    </div>
  </div>
</div>